{% extends "base.html" %}

{% block content %}
	<div class="jumbotron col-md-12">
		<h1>Formality Across Mediums</h1>
		<p>
			Please enter your credentials for the following online services to
			allow the visualization to access the associated message data.  If
			you wish to omit certain service messages from the visualization,
			simply leave the associated entry field blank.
		</p>

		<form role="form" action="/" method="post">
			{% for source in sources %}
				{% module SourceAuth( source ) %}
			{% end %}
			<input class="btn btn-primary btn-lg" type="submit" value="Visualize">
		</form>
	</div>
{% end %}
