{% extends "base.html" %}

{% block content %}
	<div class="jumbotron col-md-12">
		<h1>Email Visualization</h1>
		<p>
			Welcome to the formality email visualization!  The source code for
			this visualization is located <a href="https://github.com/NintenJoe/cs467-emailvis">here</a>.
		</p>
		<p>
			TODO: Add fields here if needed for user information entry.  Local
			keys may be required to gather this information.
		</p>
		<p>
			<a href="/viz">Visualization Page</a>
		</p>
	</div>
{% end %}
