{% extends "base.html" %}


{% block js_imports %}
	<script>
		$( document ).ready( function() 
		{
			$( ".viz-panel" ).height( $(document).height() - 80 );
		} );
	</script>

	<script>
		VIZ_JSON = {{ archive.get_messages_by_month() }};

		// TODO: Remove!
		console.log( VIZ_JSON );
	</script>

	<script src="{{ static_url( "js/viz.js" ) }}"></script>
{% end %}

{% block content %}
	<div class="col-md-9 well viz-panel">
		<div id="viz-pane" class="viz-pane">
			<!-- The visualization pane goes here! -->
		</div>
		<div class="playback-pane row">
			<div class="col-md-1">
				<input id="playback-button" class="btn btn-primary" type="submit" value="&#9658">
			</div>
			<div class="col-md-11">
				<input id="playback-slider" type="range" 
				min="1" max="{{ archive.get_age_in_months() }}" step="1" value="1"/>
			</div>
		</div>
	</div>
	<div class="col-md-3 well viz-panel">
		<div class="mediums-pane">
			<h4><strong>Communication Mediums</strong></h4>
			<div id="mediums-options" class="pane-options">
				<form role="form">
					{% for medium in archive.get_mediums() %}
						<div class="checkbox">
							<label>
								<input type="checkbox" id="{{ medium }}_cbox"> {{ medium }}
							</label>
						</div>
					{% end %}
				</form>
			</div>
		</div>
		<div class="people-pane">
			<h4><strong>People</strong></h4>
			<div id="people-options" class="pane-options">
				<form role="form">
					{% for correspondent in archive.get_correspondents() %}
						<div class="checkbox">
							<label>
								<input type="checkbox" id="{{ correspondent }}_cbox"> {{ correspondent }}
							</label>
						</div>
					{% end %}
				</form>
			</div>
		</div>
	</div>
{% end %}
