/**
 * @file email-viz.css
 * @author Joseph Ciurej
 * @date Winter 2014
 *
 * Container file for supplementary CSS for the email visualization website.
 *
 * @TODO
 */

body {
	padding-top: 20px;
	width: 100%;
}

/* Main Page Styling */



/* Visualization Page Styling */

#viz {
	width: 100%;
	height: 95%;
}

.viz-panel {

}

.mediums-pane .people-pane .viz-pane .playback-pane {
	width: 100%;
}

.mediums-pane {
	height: 20%;
}

.people-pane {
	height: 80%;
}

.viz-pane {
	height: 95%;
}

.playback-pane {
	height: 5%;
}

.pane-options {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

#playback-slider {
	width: 100%;
}

p#playback-month {
	font-weight: bold;
}
